*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

/* ===============================================
    HEADER PRINCIPAL
   =============================================== */

body > header{
    position: fixed;
    color: white;
    padding: 15px;
    background-color: rgb(27, 27, 27);
    box-shadow: 0 5px 5px #000000b9;
    top: 0;
    z-index: 1;
    width: 100%;
}
body{
    background-color: #2a272a;
    margin-top: 70px;
    margin-bottom: 100px;
}
header .container-cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Logo */
header .container-cabecalho img{
    height: 50px;
    transform: scale(1.7);
    transform-origin: left center;
}
/* Botão de Menu (Hamburger) */
header .btn-menu{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 25px;
    height: 25px;
    cursor: pointer;
    background-color: transparent;
}
/*******linhas que formam o botao*******/
header .btn-menu span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: white;
    border-radius: 2px;
    transition: all 0.3s ease;
}
/* ===============================================
    CARROSSEL
   =============================================== */

section .carrosel img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    filter: brightness(0.6);
}
/* Contêiner de cada slirgb(27, 27, 27)de para posicionar o título */
.slide-item {
    position: relative;
}
/* Título do filme sobre a imagem */
.titulo-filme {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 22px;
    z-index: 2;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
/* ===============================================
    MENU LATERAL
   =============================================== */

section .menu-lateral{
    position: fixed;
    top: 0;
    right: 0; 
    width: 210px;
    height: 100vh;
    background-color: rgb(27, 27, 27);
    z-index: 100; 
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
}
/* Classe 'ativo' para exibir o menu */
section .menu-lateral.ativo {
    transform: translateX(0);
}
/* Header dentro do menu lateral */
.menu-lateral .conteudo-principal-menu > header{
    padding: 27px;
    box-shadow: 0 5px 5px #000000b9;
    color: #fff;
}
/* Destaque da letra 'S' no logo do menu */
.menu-lateral .conteudo-principal-menu .container-conteudo-header span{
    color: red;
}
.menu-lateral .conteudo-principal-menu section button{
    margin-top: 5px;
    width: 100%;
    background-color: #00000000;
    color: #fff;
    border: none;
}
.menu-lateral h2 {
    font-size: 24px; 
    font-family: "Archivo Black", sans-serif; 
}
section .secao-filmes-grid .texto-filmes{
    width: 100%;
    margin-left: 0px;
    align-items: center;
}
section .secao-filmes-grid .texto-filmes h2{
    color: #cfcccc;
    margin: 20px;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.titulo-filme-carrousel{
    position: absolute;
    color: #fff;
    top: 0;
}
.parent{
    width: 100%; 
    margin: 0 auto; 
}
.parent > .slick-list img {
    height: 200px !important;
    width: 120px !important; 
    object-fit: cover;
    border-radius: 8px;
    
}
section .btn-nav{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50vw;
    height: 25px;
    cursor: pointer;
    background-color:rgba(27, 27, 27, 0);
    position: fixed;
    bottom: 22px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 101;
}
.btn-nav .sumir{
    transform: translateY(100%);
}
section .nav .btn-esconder-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%) translateY(100%);
    width: 40px;
    height: 40px;
    background-color: rgb(255, 236, 236);
    color: rgb(0, 0, 0);
    border-radius: 50%;
    border: none;
    font-size: 18px;
    cursor: pointer;
}
section .btn-nav span{
    width: 100%;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.534);
    border-radius: 2px;
    transition: all 0.3s ease;
}
section .nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 70px;
    z-index: 100;
    background-color: rgb(27, 27, 27);
    transform: translateY(100px);
    transition: transform 0.3s ease-in-out;
} 
.nav.nav-ativo{
    transform: translateY(0);
}
section .nav button{
    width: 80%;
    height: 100%;
    color: #fff;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-left:1px solid #7979796b;
    border-right:1px solid #7979796b;
    font-family: "Archivo Black", sans-serif;
}
section .nav :hover{
    background-color: rgba(56, 55, 55, 0.719);
    border-bottom: 2px solid #000000;
}
/* ===============================================
    RESPONSIVIDADE (TELAS MAIORES)
   =============================================== */

@media ( min-width: 765px){
    body > header{
        padding: 12px;
    }
    .parent > .slick-list img{
        height: 400px !important;
        width: 300px !important;
    }
    .parent > .slick-list img:hover{
    transform: translateY(-20px) scale(1.05);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 0 10px 10px black;
    filter: brightness(0.5);
    }
    .titulo-filme {
        font-size: 28px;
    }
    section .menu-lateral{
        width: 320px;
    }
    .menu-lateral .conteudo-principal-menu > header{
        padding: 24px;
    }
    .menu-lateral h2 {
        font-size: 32px; /* Aumenta o título em telas maiores */
    }
    header .container-cabecalho img{
        height: 60px;
        transform: scale(1.9);
    }
}


    
